.btnTicketType {
    margin-bottom: 2%;
    margin-top: 10%;
    width: 95%;
    height: 15em;
    font-size: 1.5em;
    transition: all 1s;
}

.seatnumber {
    display: block;
    text-align: center;
    font-size: 1em;
}

#rectangle {
    overflow: auto;
    outline-color: black;
    outline-style: solid;
}

.clicked-button {
    opacity: .1;
}

.tick {
    overflow: auto;
    background-color: #fff;
    width: 20px;
    height: 20px;
}